body {
  font-family: monospace;
  background-color: #E0FFFF;
  margin: 0;
  padding: 0;
  font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	text-size-adjust: none;
}

#wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

#content {
  width: var(--width);
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-bottom: 30px;
}

.boxleft {
  width: 100px;
  margin: 90px 20px 20px 60px;
  background-color: #F4F4F4; 
  padding: 40px;
  border-radius: 8px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boxright {
  width: 600px; 
  margin: 90px 60px 20px 20px;
  background-color: #F4F4F4; 
  padding: 40px;
  border-radius: 8px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#left {
  text-align: center;
} 

#so {
  display: flex;             
  justify-content: center;    
  align-items: center;      
}

.blog-list {
  list-style: none;
  padding: 0;
}

.blog-list li {
  margin-bottom: 15px;
}

.blog-list li strong {
  font-size: 16px;
  color: #0056b3;
}

.blog-list li small {
  display: block;
  font-size: 12px;
  color: #666;
}

.character-row {
  position: absolute; 
  top: 10px; 
  right: 10px;
  display: flex;
  right: 300px;  
}

.character-row img {
  margin: 5px; 
  width: 200px;
  height: 200px; 
}

.inner {
	border: 1px solid var(--bblack);
	margin: 15px 7px;
	padding: 15px 20px;
	color: var(--black);
	box-sizing: border-box;
}

.btn-blue{
  text-align: right;
}

.table-name{
  padding: 10px;
  margin: 5px;
}

